.container-fluid.about
  .row
    .brand-image(back-img="/assets/img/seniorworkers.jpg")
      .overlay
        h2.text-center.hidden-xs.header About Us: Our Mission
        .text-center.visible-xs
          h2.header About Us:
          h2.header Our Mission

  .row.brand-sentence--black
    .col-md-12
      h2.text-center About Our Company

  .row.about__info
    .container
      .row
        .col-sm-6.col-lg-4.col-md-5.col-md-offset-1.col-lg-offset
          img(src="/assets/img/Delivery-Boxes-Feature.jpg")

        .col-md-5.col-sm-6
          .row
            .col-md-12
              .about__info__vision
                h3 Vision
                p Our vision is to become the leading Courier Company in Barbados, by providing the most reliable, safe and efficient service to our current and potential customers.

              .about__info__mission
                h3 Mission statement
                p At Markev couriers, we are committed to providing our customers with the best same-day delivery service throughout Barbados. We seek to provide the most environmentally friendly, professional, prompt & courteous service from our team at competitive rates
