<div class="container-fluid about">
  <div class="row">
    <div class="brand-image" back-img="/assets/img/seniorworkers.jpg">
      <div class="overlay">
        <h2 class="text-center hidden-xs header">About Us: Our Mission</h2>
        <div class="text-center visible-xs small-header">
          <h2>About Us:</h2>
          <h2>Our Mission</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row brand-sentence">
    <div class="col-md-12">
      <h2 class="text-center">About Our Company</h2>
    </div>
  </div>

  <div class="row about_us">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <img src="/assets/img/Delivery-Boxes-Feature.jpg">
        </div>

        <div class="col-md-5">
          <div class="row">
            <div class="col-md-12">
              <div class="about-info">
                <h3>Vision</h3>
                <p>Our vision is to become the leading Courier Company in Barbados, by providing the most reliable, safe
                  and efficient service to our current and potential customers.
                </p>

                <p class="about-info">
                <h3>Mission statement</h3>
                <p>At Markev couriers, we are committed to
                  providing our customers with the best same-day delivery service throughout Barbados. We seek to
                  provide the most environmentally friendly, professional, prompt & courteous service from our team at
                  competitive rates.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 </div>
