<div class="container footer">
  <div class="row">
    <section class="col-md-4 hidden-sm hidden-xs text-center">
      <img src="/assets/img/logo-brand.png" class="footer__logo">
    </section>

    <section class="col-md-3 col-md-offset-1 col-sm-6">
      <div class="footer__hours">
        <p class="footer__hours__header">Opening Hours</p>
        <p><span class="day">Mon:</span> 7 am to 5 pm</p>
        <p><span class="day">Tue:</span> 7 am to 5 pm</p>
        <p><span class="day">Wed:</span> 7 am to 5 pm</p>
        <p><span class="day">Thu:</span> 7 am to 5 pm</p>
        <p><span class="day">Fri:</span> 7 am to 5 pm</p>
        <p><span class="day">Sat:</span> Closed</p>
        <p><span class="day">Sun:</span> Closed</p>
      </div>
    </section>

    <section class="col-md-4 col-sm-6">
      <div class="footer__contact">
        <p class="footer__contact__header">Contact Information</p>

        <article class="row footer__contact__item">
          <div class="col-xs-2">
            <i class="fa fa-phone"></i>
          </div>
          <div class="col-xs-10">
            <p class="footer__contact__field">Main Phone</p>
            <p>(246) 252-3239</p>
          </div>
        </article>

        <article class="row footer__contact__item">
          <div class="col-xs-2">
            <i class="fa fa-mobile"></i>
          </div>
          <div class="col-xs-10">
            <p class="footer__contact__field">Secondary Phone</p>
            <p>(246) 267-6639</p>
          </div>
        </article>

        <article class="row footer__contact__item">
          <div class="col-xs-2">
            <i class="fa fa-envelope-square"></i>
          </div>
          <div class="col-xs-10">
            <p class="footer__contact__field">Email</p>
            <a href="mailto:markevinc@live.com?Subject=Inquiry" target="_top">markevinc@live.com</a>
          </div>
        </article>

        <article class="row footer__contact__item">
          <div class="col-xs-2">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="col-xs-10">
            <p class="footer__contact__field">Location</p>
            <p>Tudor Bridge, St. Michael</p>
          </div>
        </article>
      </div>
    </section>
  </div>

  <section class="row footer__social">
    <div class="col-md-12 text-center">
      <a href="https://www.facebook.com/Markev-Couriers-137160806333129/?pnref=lhc"><i class="fa fa-facebook-square"></i></a>
      <a href="https://www.instagram.com/markevcouriers/"><i class="fa fa-instagram"></i></a>
      <a href="https://twitter.com/markevcouriers"><i class="fa fa-twitter-square"></i></a>
    </div>
  </section>

  <hr>

  <section class="row">
    <div class="col-md-12">
      <p class="footer__copyright pull-left">
        &copy; 2016 <span class="company">Markev Couriers.</span> All Rights Reserved.
      </p>

      <p class="footer__author pull-right hidden-xs">Site design by Ripple Studios</p>
    </div>
  </section>

  <section class="row">
    <div class="col-md-12">
      <p class="footer__author visible-xs">Site design by Ripple Studios</p>
    </div>
  </section>
</div>
