<div class="container-fluid open-account">
  <div class="row">
    <div class="brand-image" back-img="/assets/img/forms.jpg">
      <div class="overlay">
        <h2 class="text-center header">Open an Account</h2>
      </div>
    </div>
  </div>

  <div class="row brand-sentence--black">
    <div class="col-md-12">
      <h2 class="text-center">Register Your Business With Us</h2>
    </div>
  </div>

  <div class="row open-account__form-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="open-account__form-section__header">
            <h3>New Account Form</h3>
            <p>Enter your details below and we'll add you to the system. <span style="color: #a94442">Boxes in red are required.</span></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-xs-12">
          <form class="open-account__form" name="accountForm" novalidate>
            <div class="form-row">
              <div class="form-group" ng-class="{'has-error': accountForm.firstName.$error, 'has-success': accountForm.firstName.$valid}">
                <label for="firstName">First name</label>
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" ng-model="$ctrl.info.firstName" required>
              </div>
              <div class="form-group" ng-class="{'has-error': accountForm.lastName.$error, 'has-success': accountForm.lastName.$valid}">
                <label for="lastName">Last name</label>
                <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" ng-model="$ctrl.info.lastName" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group" ng-class="{'has-error': accountForm.email.$error, 'has-success': accountForm.email.$valid}">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Email address" ng-model="$ctrl.info.email" required>
              </div>
              <div class="form-group" ng-class="{'has-error': accountForm.phone.$error, 'has-success': accountForm.phone.$valid}">
                <label for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" ng-model="$ctrl.info.phone" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group" ng-class="{'has-error': accountForm.company.$error, 'has-success': accountForm.company.$valid}">
                <label for="company">Company</label>
                <input type="text" class="form-control" id="company" name="company" placeholder="Company" ng-model="$ctrl.info.company" required>
              </div>
              <div class="form-group" ng-class="{'has-error': accountForm.accountsPayable.$error, 'has-success': accountForm.accountsPayable.$valid}">
                <label for="accounts-payable">Accounts Payable Contact</label>
                <input type="text" class="form-control" id="accounts-payable" name="accountsPayable" placeholder="Accounts Payable Contact" ng-model="$ctrl.info.accountsPayable" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group" ng-class="{'has-error': accountForm.address.$error, 'has-success': accountForm.address.$valid}">
                <label for="address">Street Adress</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Street Adress" ng-model="$ctrl.info.address" required>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label for="parish">Parish</label>
                <select class="form-control" id="parish" ng-model="$ctrl.info.parish">
                  <option ng-value="parish" ng-repeat="parish in $ctrl.parishes">{{parish}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="fax">Fax number</label>
                <input type="text" class="form-control" id="fax" placeholder="Fax number" ng-model="$ctrl.info.fax">
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <p class="open-account__form__header">How'd You Hear About Us?</p>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <label class="radio-inline" ng-repeat="item in $ctrl.hearAbout">
                  <input type="radio" name="inlineRadioOptions" ng-value="item" ng-model="$ctrl.info.heardAbout"> {{item}}
                </label>
              </div>
            </div>

            <div class="form-row">
              <div class="form-group">
                <button type="button" class="btn btn-primary" ng-class="{'btn-success': $ctrl.submitText!=='SUBMIT'}" ng-click="$ctrl.submit()" ng-disabled="$ctrl.submitText !== 'SUBMIT' || accountForm.$invalid">{{$ctrl.submitText}}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
