<slick dots=true class="slider" autoplay="true" autoplay-speed="4000" slides-to-show="1" arrows="false">
  <div class="slide" back-img="'/assets/img/slide2.jpg'">
    <div class="dim">
      <div class="inner text-center">
        <p>Come In We're Local</p>
        <span>Founded right here in Barbados</span>
      </div>
    </div>
  </div>

  <div class="slide" back-img="'/assets/img/slide3.jpg'">
    <div class="dim">
      <div class="inner text-center">
        <p>You Got It? We Can Deliver</p>
        <span>We ship packages large and small</span>
      </div>
    </div>
  </div>

  <div class="slide" back-img="'/assets/img/slide1.jpg'">
    <div class="dim">
      <div class="inner text-center">
        <p>Same Day Service</p>
        <span>That's right! We deliver the same day</span>
      </div>
    </div>
  </div>
</slick>
