<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{{site.basurl}}/#top" data-toggle="collapse" class="navbar-brand scroller" data-target=".navbar-collapse.in">
        <img src="{{site.baseurl}}/assets/images/logo.svg" class="logo" />
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left left-menu">
        <li><a href="{{site.baseurl}}/#why" data-toggle="collapse" data-target=".navbar-collapse.in" class="navbar__link scroller">Why Us</a></li>
        <li><a href="{{site.baseurl}}/#services" data-toggle="collapse" data-target=".navbar-collapse.in" class="navbar__link scroller">Services</a></li>
        <li><a href="{{site.baseurl}}/#customers" data-toggle="collapse" data-target=".navbar-collapse.in" class="navbar__link scroller">Our Customers</a></li>
      </ul>
      <div class="nav navbar-nav barbados-logo">
        <img src="{{site.baseurl}}/assets/img/barbados50.png" srcset="{{site.baseurl}}/assets/images/barbados50@2x.png"/>
      </div>
      <ul class="nav navbar-nav navbar-right right-menu">
        <li><a href="{{site.baseurl}}/about" data-toggle="collapse" data-target=".navbar-collapse.in" class="navbar__link">About Us</a></li>
        <li><a href="{{site.baseurl}}/contact-us" data-toggle="collapse" data-target=".navbar-collapse.in" class="navbar__link open">Contact Us</a></li>
      </ul>
    </div>
  </div>
</nav>
