<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name=viewport content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Markev Couriers - It's Delivered">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://www.markevcouriers.com/">
  <meta property="og:description"
    content="Markev Couriers are here to help you and were just in time. With our comprehensive networked team island wide coverage and speed are at its best.">
  <meta name="description"
    content="Markev Couriers are here to help you and were just in time. With our comprehensive networked team island wide coverage and speed are at its best.">
  <meta name="google-site-verification" content="kQB4wxoFrddr13oixG6QeH-LADSZCAGTED1NCU6GP5M" />
  <meta property="og:image" content="http://www.markevcouriers.com/favicons/graph.png">
  <meta name="image" content="http://www.markevcouriers.com/favicons/graph.png">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@markevcouriers" />
  <meta name="twitter:title" content="Markev Couriers - It's Delivered" />
  <meta name="twitter:description"
    content="Markev Couriers are here to help you and were just in time. With our comprehensive networked team island wide coverage and speed are at its best." />
  <meta name="twitter:image" content="http://www.markevcouriers.com/favicons/graph.png" />

  <title>{{page.title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=PT+Sans:ital@0;1&display=swap"
    rel="stylesheet">
  {{page.styles}}
  <link rel="stylesheet" href="{{site.baseurl}}/dist/main.css" type="text/css">

  <link rel="icon" href="{{site.baseurl}}/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="57x57" href="{{site.baseurl}}/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{site.baseurl}}/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{site.baseurl}}/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{site.baseurl}}/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{site.baseurl}}/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{site.baseurl}}/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{site.baseurl}}/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{site.baseurl}}/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{site.baseurl}}/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/favicons/favicon-16x16.png">
  <link rel="shortcut icon" type="image/png" href="{{site.baseurl}}/favicons/safari.png">
  <link rel="manifest" href="{{site.baseurl}}/favicons/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{site.baseurl}}/favicons/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-80535053-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>

<body>
  {% include navbar.html %}

  <div class="content">
    {{content}}
  </div>

  {% include footer.html %}

  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  {{page.scripts}}
  <script type="text/javascript" src="{{site.baseurl}}/dist/scripts.js"></script>
</body>

</html>