@import "variables"
@import "../../app/components/home/home"
@import "../../app/components/footer/footer"
@import "../../app/components/navbar/navbar"

@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,600)
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow)
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300)


body
  font-family: 'PT Sans', sans-serif

p,
a
  font-size: 16px
  color: rgb(98,97,97)


main
  margin-top: 60px


  .separator
    width: 10%
    margin: 15px auto

    &.white
      border-top: 1px solid white

    &.dark
      border: 0
      border-top: 1px solid #eee
