.home.container-fluid
  #top.row
    slider

  .row.brand-sentence--black
    .col-md-12
      h2.text-center A fresh, fast and reliable courier network

  #why
    .row.home__why-us
      .col-md-12
        h2.text-center.header Why Markev Couriers?
        .separator--white

    .row.home__reasons
      article.col-md-3.col-sm-6.text-center
        span.lnr.lnr-clock
        h4 Speed
        p Same Day Service

      article.col-md-3.col-sm-6.text-center
        span.lnr.lnr-lock
        h4 Secure
        p Our Services are Strictly Confidential

      article.col-md-3.col-sm-6.text-center
        span.lnr.lnr-cart
        h4 Cost
        p Rates as low as $7.00 *

      article.col-md-3.col-sm-6.text-center
        span.lnr.lnr-inbox
        h4 Delivery
        p Islandwide Service

  #services
    .row.home__offer
      .col-md-12
        h2.text-center.header What We Offer
        .separator--primary

  #customers
    .row.home__customers
      .col-md-12
        h2.text-center.header Our Customers
        .separator--white

  .container
    .row
      .col-md-12
        hr
        p.home__info * Monthly rates shown here, single delivery rates vary.
        hr
