<div class="home container-fluid">
  <section class="row">
    <slider></slider>
  </section>

  <section class="row brand-sentence">
    <div class="col-md-12">
      <h1 class="text-center">A fresh, fast and reliable courier network</h1>
    </div>
  </section>

  <section>
    <div class="row why">
      <div class="col-md-12">
        <h1 class="text-center header">Why Markev Couriers?</h1>
        <div class="separator white"></div>
      </div>
    </div>

    <div class="row reasons">
      <article class="col-md-3 col-sm-6 text-center">
        <span class="lnr lnr-clock"></span>
        <h4>Speed</h4>
        <p>Same Day Service</p>
      </article>
      <article class="col-md-3 col-sm-6 text-center">
        <span class="lnr lnr-lock"></span>
        <h4>Secure</h4>
        <p>Our Services are Strictly Confidential</p>
      </article>
      <article class="col-md-3 col-sm-6 text-center">
        <span class="lnr lnr-cart"></span>
        <h4>Cost</h4>
        <p>Rates as low as $7.00 *</p>
      </article>

      <article class="col-md-3 col-sm-6 text-center">
        <span class="lnr lnr-inbox"></span>
        <h4>Delivery</h4>
        <p>Islandwide Service</p>
      </article>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
          <p class="info">* Monthly rates shown here, Single delivery rates vary.</p>
        <hr>
      </div>
    </div>
  </div>
</div>

