<div class="home container-fluid">
  <section class="row" id="top">
    <slider></slider>
  </section>

  <section class="row brand-sentence">
    <div class="col-md-12">
      <h2 class="text-center">A fresh, fast and reliable courier network</h2>
    </div>
  </section>

  <section id="why">
    <div class="row why">
      <div class="col-md-12">
        <h2 class="text-center header">Why Markev Couriers?</h2>
        <div class="separator white"></div>
      </div>
    </div>

    <div class="row reasons">
      <article class="col-md-3 col-sm-6 text-center">
        <span class="lnr lnr-clock"></span>
        <h4>Speed</h4>
        <p>Same Day Service</p>
      </article>
      <article class="col-md-3 col-sm-6 text-center">
        <span class="lnr lnr-lock"></span>
        <h4>Secure</h4>
        <p>Our Services are Strictly Confidential</p>
      </article>
      <article class="col-md-3 col-sm-6 text-center">
        <span class="lnr lnr-cart"></span>
        <h4>Cost</h4>
        <p>Rates as low as $7.00 *</p>
      </article>

      <article class="col-md-3 col-sm-6 text-center">
        <span class="lnr lnr-inbox"></span>
        <h4>Delivery</h4>
        <p>Islandwide Service</p>
      </article>
    </div>
  </section>

  <section id="services">
    <div class="row offer">
      <div class="col-md-12">
        <h2 class="text-center header">What We Offer</h2>
        <div class="separator primary"></div>
      </div>
    </div>

    <div class="row services">
      <div class="col-sm-4"></div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <hr>
          <p class="info">* Monthly rates shown here, single delivery rates vary.</p>
        <hr>
      </div>
    </div>
  </div>
</div>

