.container.footer
  .row
    section.col-md-4.hidden-sm.hidden-xs.text-center
      img(src="dist/images/logo-brand.png").footer__logo

    section.col-md-3.col-md-offset-1.col-sm-6
      .footer__hours
        p.footer__hours__header Opening Hours
        p #[span.day Mon:] 7 am to 5 pm
        p #[span.day Tue:] 7 am to 5 pm
        p #[span.day Wed:] 7 am to 5 pm
        p #[span.day Thu:] 7 am to 5 pm
        p #[span.day Fri:] 7 am to 5 pm
        p #[span.day Sat:] Closed
        p #[span.day Sun:] Closed

    section.col-md-4.col-sm-6
      .footer__contact
        p.footer__contact__header Contact Information

        article.row.footer__contact__item
          .col-xs-2
            i.fa.fa-phone

          .col-xs-10
            p.footer__contact__field Main Phone
            p (246) 252-3239

        article.row.footer__contact__item
          .col-xs-2
            i.fa.fa-mobile

          .col-xs-10
            p.footer__contact__field Secondary Phone
            p (246) 267-6639

        article.row.footer__contact__item
          .col-xs-2
            i.fa.fa-envelope-square

          .col-xs-10
            p.footer__contact__field Email
            a(href="mailto:markevinc@live.com?Subject=Inquiry") markevinc@live.com

  .row.footer__social
    .col-md-12.text-center
      a(href="https://www.facebook.com/Markev-Couriers-137160806333129/?pnref=lhc"): i.fa.fa-facebook-square
      a(href="https://www.instagram.com/markevcouriers"): i.fa.fa-instagram
      a(href="https://twitter.com/markevcouriers"): i.fa.fa-twitter-square

  hr

  .row
    .col-md-12
      p.footer__copyright.pull-left
        | © 2016&nbsp;
        span.company Markev Couriers.
        |  All Rights Reserved.

      p.footer__author.pull-right.hidden-xs Site design by Kyle Roach

  .row
    .col-md-12
      p.footer__author.visible-xs Site design by Kyle Roach
