slick(dots="true", autoplay="false", autoplay-speed="4000", slides-to-show="1", arrows="false").slider
  .slide(back-img="'dist/images/slide2.jpg'")
    .slide__dim
      .slide__dim__inner.text-center
        p Come In We're Local
        span Founded right here in Barbados

  .slide(back-img="'dist/images/slide3.jpg'")
    .slide__dim
      .slide__dim__inner.text-center
        p You Got It? We Can Deliver It
        span We ship packages large and small

  .slide(back-img="'dist/images/slide1.jpg'")
    .slide__dim
      .slide__dim__inner.text-center
        p Same Day Service
        span That's right! We deliver the same day
        
        
  .slide(back-img="'dist/images/slide4.jpg'")
    .slide__dim
      .slide__dim__inner.text-center
        p Pride and Industry
        span Happy 50th Aniversary Barbados
