.reason {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;

  @include respond-to(small) {
    margin-bottom: unset;
  }
}

.reason__icon {
  font-size: 7em;
  transition: all ease-in-out 0.2s;

  &:hover {
    color: $accent;
  }
}

.reason__title {
  font-size: 20px;
}

.reason__text sup {
  font-size: 10px;
  opacity: 0.8;
  margin-left: 0.125rem;
}
