@import "../../../assets/sass/variables"

.navbar
  background-color: white
  border: none
  padding-top: 5px
  margin-bottom: 0
  min-height: 60px
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2)

  .navbar-toggle
    border: none
    background: white!important
    .icon-bar
      background-color: $primary

  .navbar-brand
    padding: 0 15px
    display: flex
    flex-direction: column
    justify-content: center

    .logo
      height: 40px
      cursor: pointer

  .navlink
    cursor: pointer
    font-size: 16px
    transition: color ease-in-out .2s

    &:hover
      color: $primary!important

    &:focus
      color: rgb(98,97,97)!important

  .open
    font-weight: 600
    color: $primary!important

    &:focus
     color: $primary!important
