nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target=".navbar-collapse", aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar

      a.navbar-brand(ng-click="$ctrl.scroll('top')", data-toggle="collapse", data-target=".navbar-collapse.in")
        img.logo(src="/assets/img/logo.png")

    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li: a.navbar__link(ng-click="$ctrl.scroll('why')", data-toggle="collapse", data-target=".navbar-collapse.in") Why Us
        li: a.navbar__link(ng-click="$ctrl.scroll('services')", data-toggle="collapse", data-target=".navbar-collapse.in") Services
        li: a.navbar__link(ng-click="$ctrl.scroll('customers')", data-toggle="collapse", data-target=".navbar-collapse.in") Our Customers

      ul.nav.navbar-nav.navbar-right
        li: a.navbar__link(ui-sref="about", data-toggle="collapse", data-target=".navbar-collapse.in") About Us
        li: a.navbar__link(ui-sref="contact", data-toggle="collapse", data-target=".navbar-collapse.in") Contact Us
        li: a.navbar__link.open(ui-sref="open-account", data-toggle="collapse", data-target=".navbar-collapse.in") Open an Account
