<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
              data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-click="$ctrl.scroll('top')" data-toggle="collapse" data-target=".navbar-collapse.in">
        <img src="/assets/img/logo.svg" class="logo">
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li>
          <a class="navlink" ng-click="$ctrl.scroll('why')" data-toggle="collapse" data-target=".navbar-collapse.in">Why Us</a>
        </li>
        <li>
          <a class="navlink" ng-click="$ctrl.scroll('services')" data-toggle="collapse" data-target=".navbar-collapse.in">Services</a>
        </li>
        <li>
          <a class="navlink" ng-click="$ctrl.scroll('customers')" data-toggle="collapse" data-target=".navbar-collapse.in">Our Customers</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a class="navlink" ui-sref="about" data-toggle="collapse" data-target=".navbar-collapse.in">About Us</a></li>
        <li><a class="navlink" data-toggle="collapse" data-target=".navbar-collapse.in">Contact Us</a></li>
        <li><a class="navlink open" ui-sref="open-account" data-toggle="collapse" data-target=".navbar-collapse.in">Open an Account</a></li>
      </ul>
    </div>
  </div>
</nav>
